{% set columns = page.header.layout == 'standard' ? 'col-4 col-12-narrower' : 'col-6 col-12-narrower'  %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set limit = page.header.limit|default(3) %}

{# Set title and subtitle #}
{% set page_title = page.title %}
{% set page_subtitle = page.header.subtitle %}

{# Set primary Image #}
{% set primaryImage = page.media[page.header.primaryImage] %}

	<div class="wrapper">
		<div class="container">
			<header>
			    {% if primaryImage %}
					{{ primaryImage.cropZoom(1600,500).loading('lazy').attribute('decoding', 'async').attribute('itemprop', 'image').html(page_title|raw, page_title|raw, 'image featured')|raw }}
			    {% endif %}
			    <h2>{{ page_title|raw }}</h2>
			    {% if page_subtitle %}<p>{{ page_subtitle|raw }}</p>{% endif %}
			</header>
			<div class="row">

				{% for p in blog.children.order('date', 'desc').slice(0,limit) %}
				
				{# Set primary image for blog list items #}
				{% set child_primaryImage = p.media[p.header.primaryImage] ?: p.media.images|filter((v, k) => k != p.header.avatarImage)|first %}
				{# Set child title and child subtitle #}
				{% set child_title = p.title %}
				{% set child_subtitle = p.header.subtitle %}	
					<section class="{{columns}} feature">
					{% if child_primaryImage %}
						<div class="image-wrapper {% if loop.first %}first{% endif %}">
							<a href="{{p.url}}" {% if loop.first %}first{% endif %}">
								{{ child_primaryImage.cropZoom(720,378).loading('lazy').attribute('decoding', 'async').attribute('itemprop', 'image').html(child_title|raw, child_title|raw, 'image featured')|raw }}
							</a>
						</div>
					{% endif %}
					{% if child_title %}
						<header class="blog-list">
							<h3>{{child_title|raw}}</h3>
						</header>
					{% endif %}
					{% if child_subtitle %}
						<h4 class="sidebar_subtitle">{{ child_subtitle|raw }}</h4>
					{% endif %}
					{% if p.summary != p.content %}
				        <p>{{ p.summary|striptags|raw }}</p>
				    {% else %}
				        <p>{{ p.content|striptags|raw }}</p>
				    {% endif %}
					
					<ul class="actions">
						<li><a href="{{p.url}}" class="button" rel="nofollow">{{blog.header.readmore_text|raw|default('Read more')}}</a></li>
					</ul>
					
				</section>

				{%  endfor %}

			</div>
		</div>
	</div>
