{% set columns = page.header.layout == 'standard' ? 'col-4 col-12-narrower' : 'col-6 col-12-narrower'  %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set limit = page.header.limit|default(3) %}

	<div class="wrapper">
		<div class="container">
			<header>
			    {% if page.header.primaryImage %}
			        <img src="{{ page.media[page.header.primaryImage].cropZoom(1000,200).url|e}}" class="image featured" loading="lazy" alt="{{page.title|raw}}" /></a>
			    {% endif %}
			    <h2>{{page.title|raw}}</h2>
			    {% if page.header.subtitle %}<p>{{page.header.subtitle|raw}}</p>{% endif %}
			</header>
			<div class="row">

				{% for p in blog.children.order('date', 'desc').slice(0,limit) %}

					<section class="{{columns}} feature">
					{% if p.header.primaryImage %}
						<div class="image-wrapper {% if loop.first %}first{% endif %}">
							<a href="{{p.url}}" class="image featured {% if loop.first %}first{% endif %}"><img src="{{p.media[p.header.primaryImage].url|e}}" loading="lazy" alt="{{p.title}}" rel="nofollow" /></a>
						</div>
					{% endif %}
					{% if p.title %}
						<header class="blog-list">
							<h3>{{p.title|raw}}</h3>
						</header>
					{% endif %}
					{% if p.header.subtitle %}
						<h4 class="sidebar_subtitle">{{ p.header.subtitle }}</h4>
					{% endif %}
					{% if p.summary != p.content %}
				        <p>{{ p.summary|raw }}</p>
				    {% else %}
				        <p>{{ p.content|raw }}</p>
				    {% endif %}
					
					<ul class="actions">
						<li><a href="{{p.url}}" class="button" rel="nofollow">{{blog.header.readmore_text|raw|default('Read more')}}</a></li>
					</ul>
					
				</section>

				{%  endfor %}

			</div>
		</div>
	</div>
