{% set columns = page.header.class == 'standard' ? 'col-4 col-12-narrower' : 'col-6 col-12-narrower'  %}

<div class="wrapper">
	<section class="container">

		<header class="major">
		    {% if page.header.primaryImage %}
		        <img src="{{ page.media[page.header.primaryImage].cropZoom(1000,200).url|e}}" class="image featured" loading="lazy" alt="{{page.title|raw}}"  /></a>
		    {% endif %}
		    <h2>{{page.title|raw}}</h2>
		    {% if page.header.subtitle %}<p>{{page.header.subtitle|raw}}</p>{% endif %}
		</header>

		<div class="row features">

			{% for item in page.header.features2 %}

			<section class="{{columns}} feature">
				{% if item.image %}
					<div class="image-wrapper {% if loop.first %}first{% endif %}">
						<a href="{{item.url}}" class="image featured {% if loop.first %}first{% endif %}"><img src="{{page.media[item.image].url}}" loading="lazy" alt="{{page.title}}" rel="nofollow" /></a>
					</div>
				{% endif %}
				{% if item.text %}
					<p>{{item.text|raw}}</p>
				{% endif %}
			</section>

			{% endfor %}
		</div>
		<ul class="actions major">
			<li><a href="{{page.header.buttonurl}}" class="button" rel="nofollow">{{page.header.buttontext}}</a></li>
		</ul>
	</section>
</div>
