{# Set layoutClass based on the presence of page.header.class (compatibility for versions < 1.0.6) #}
{% set layoutClass = page.header.layout ?? page.header.class ?? 'standard' %}
{# Use layoutClass to determine the columns value #}
{% set columns = layoutClass == 'standard' ? 'col-4 col-12-narrower' : 'col-6 col-12-narrower' %}

{# Set title and subtitle #}
{% set page_title = page.title %}
{% set page_subtitle = page.header.subtitle %}

{# Set primary Image #}
{% set primaryImage = page.media[page.header.primaryImage] %}

<div class="wrapper">
	<section class="container">

		<header class="major">
			{% if primaryImage %}
			{{ primaryImage.cropZoom(1600,500).loading('lazy').attribute('decoding', 'async').attribute('itemprop', 'image').html(page_title|raw, page_title|raw, 'image featured')|raw }}
			{% endif %}
			<h2>{{ page_title|raw }}</h2>
			{% if page_subtitle %}<p>{{ page_subtitle|raw }}</p>{% endif %}
		</header>

		<div class="row features">

			{% for item in page.header.features2 %}

			{% set item_image = page.media[item.image] %}

			<section class="{{columns}} feature">
				{% if item.image %}
				{% set image = page.media[item.image].url %}
					<div class="image-wrapper {% if loop.first %}first{% endif %}">
						<a href="{{item.url}}" class="{% if loop.first %}first{% endif %}">
							{{ item_image.loading('lazy').attribute('rel','nofollow').attribute('decoding', 'async').html(page_title|raw, page_title|raw, 'image featured')|raw  }}
						</a>
					</div>
				{% endif %}
				{% if item.text %}
					<p>{{item.text|raw}}</p>
				{% endif %}
			</section>

			{% endfor %}
		</div>
		<ul class="actions major">
			<li><a href="{{page.header.buttonurl}}" class="button" rel="nofollow">{{page.header.buttontext}}</a></li>
		</ul>
	</section>
</div>
