{# Set layoutClass based on the presence of page.header.class (compatibility for versions < 1.0.6) #}
{% set layoutClass = page.header.layout ?? page.header.class ?? 'standard' %}
{# Use layoutClass to determine the columns value #}
{% set columns = layoutClass == 'standard' ? 'col-4 col-12-narrower' : 'col-6 col-12-narrower' %}

{# Set title and subtitle #}
{% set page_title = page.title %}
{% set page_subtitle = page.header.subtitle %}

{# Set primary Image #}
{% set primaryImage = page.media[page.header.primaryImage] %}

	<div class="wrapper">
		<div class="container">
			<header>
				{% if primaryImage %}
					{{ primaryImage.cropZoom(1600,500).loading('lazy').attribute('decoding', 'async').attribute('itemprop', 'image').html(page_title|raw, page_title|raw, 'image featured')|raw }}
			    {% endif %}
			    <h2>{{ page_title|raw }}</h2>
			    {% if page_subtitle %}<p>{{ page_subtitle|raw }}</p>{% endif %}
			</header>
			<div class="row">

				{% for item in page.header.features %}

				{% set item_image = page.media[item.image] %}
				{% set item_title = item.title %}

				<section class="{{columns}} feature">
					{% if item_image %}
						<div class="image-wrapper {% if loop.first %}first{% endif %}">
							<a href="{{item.url}}" class="{% if loop.first %}first{% endif %}">
								{{ item_image.loading('lazy').attribute('rel','nofollow').attribute('decoding', 'async').html(item_title|raw, item_title|raw, 'image featured')|raw  }}
							</a>
						</div>
					{% endif %}
					{% if item_title %}
						<header>
							<h2>{{item_title|raw}}</h2>
						</header>
					{% endif %}
					{% if item.text %}
						<p>{{item.text|raw}}</p>
					{% endif %}
					{% if item.buttonurl %}
						<ul class="actions">
							<li><a href="{{item.buttonurl}}" class="button" rel="nofollow">{{item.buttontext}}</a></li>
						</ul>
					{% endif %}
				</section>

				{% endfor %}

			</div>
		</div>
	</div>
