<article id="content">
    <header>
        <div class="image-wrapper{#  {% if page.isFirst %}first{% endif %} #}">
            {% if page.header.primaryImage %}
                <a class="image featured" href="{{page.url}}" rel="nofollow">
                    {{ primaryImage.cropZoom(720,378).loading('lazy').attribute('decoding', 'async').attribute('itemprop', 'image').html(page_title|raw, page_title|raw, 'image featured')|raw }}
                </a>
            {% endif %}
        </div>
        <a href="{{ page.url }}"><h3 itemprop="headline">{{ page_title|raw }}</h3></a>
        <span class="subtitle">{{ page_subtitle|raw }}</span>
    </header>

    {% if page.summary != page.content %}
        <span>{{ page.summary|raw }}</span>
    {% else %}
        <span>{{ page.content|raw }}</span>
    {% endif %}

    <ul class="actions">
        <li><a href="{{page.url}}" class="button" rel="nofollow">{{blog.header.readmore_text|raw|default('Read more')}}</a></li>
    </ul>
</article>

