{# <h3>{{ 'TELEPHASIC.FEATURED'|t }}</h3> #}
{% for page in page.evaluate({'@taxonomy.category':featuredposts_category}).order('date', 'desc').slice(0,featuredposts_number) %}
        <div class="image-wrapper">
            {% if page.header.primaryImage %}
                <a class="image featured" href="{{page.url}}" alt="{{page.title}}" rel="nofollow">{{ page.media[page.header.primaryImage].cropZoom(600,300).loading('lazy').html(page.title,page.title)|raw}}</a>
            {% endif %}
        </div>
        <a href="{{ page.url }}"><h3 class="featured" itemprop="headline">{{ page.title|raw }}</h3></a>
        {% if page.header.subtitle %}<p class="sidebar_subtitle">{{page.header.subtitle|raw}}</p>{% endif %}
        {% if page.summary != page.content %}
            {{ page.summary|truncate(100)|raw }}
        {% else %}
            {{ page.content|raw }}
        {% endif %}
        <ul class="actions">
            <li><a href="{{ page.url }}" class="button">{{blog.header.readmore_text|raw|default('Read more')}}</a></li>
        </ul>
{% endfor %}
