{% for p in page.evaluate({'@taxonomy.category':featuredposts_category}).order('date', 'desc').slice(0,featuredposts_number) %}
{% set p_title = p.title %}
        <div class="image-wrapper">
            {% if p.header.primaryImage %}
                <a class="image featured" href="{{p.url}}" alt="{{p_title|raw}}" rel="nofollow">{{ p.media[p.header.primaryImage].cropZoom(600,300).loading('lazy').html(title,title)|raw}}</a>
            {% endif %}
        </div>
        <a href="{{ p.url }}"><h3 class="featured" itemprop="headline">{{ p_title|raw }}</h3></a>
        {% if p.header.subtitle %}<p class="subtitle">{{p.header.subtitle|raw}}</p>{% endif %}
        {% if p.summary != p.content %}
            {{ p.summary|truncate(100)|raw }}
        {% else %}
            {{ p.content|raw }}
        {% endif %}
        <ul class="actions">
            <li><a href="{{ p.url }}" class="button">{{blog.header.readmore_text|raw|default('Read more')}}</a></li>
        </ul>
{% endfor %}
