{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

{# Set featured posts options #}
{% set show_featuredposts = theme_var('featuredposts', [page, blog])|defined(true) %}
{% set featuredposts_category = theme_var('featuredposts_category')|defined('featured') %}
{% set featuredposts_number = theme_var('featuredposts_number')|defined(3) %}

<section id="sidebar">

{% if show_featuredposts == true %}
	{% include 'partials/sidebar_featuredposts.html.twig' with { featuredposts_category, featuredposts_number } %}
{% endif %}

{% if config.plugins.simplesearch.enabled %}
    <h3>{{ 'TELEPHASIC.SIDEBAR.SIMPLE_SEARCH.HEADLINE'|t }}</h3>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
{% endif %}

{% if config.plugins.archives.enabled %}
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
{% endif %}

{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <h3>{{'TELEPHASIC.SIDEBAR.RELATED_POSTS.HEADLINE'|t}}</h3>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}

{% if config.plugins.taxonomylist.enabled %}
	{% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
{% endif %}

{% if config.plugins.feed.enabled %}
<div>
    <h3>{{ 'TELEPHASIC.SIDEBAR.SYNDICATE.HEADLINE'|t }}</h3>
    <a class="button small" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
    <a class="button small" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
    {% if config.plugins.feed.enable_json_feed %}<a class="button small" href="{{ feed_url }}.json"><i class="fa fa-rss-square"></i> JSON</a>{% endif %}
</div>
{% endif %}

</section>

