{% extends 'partials/base.html.twig' %}

{% set contact_enabled = theme_var('contact_enabled') %}
{% set contact_title = theme_var('contact_title')|defined('Contact Us') %}
{% set contact_subtitle = theme_var('contact_subtitle')|defined('Send us your comments') %}
{% set copyright_author = theme_var('copyright_author') %}
{% set copyright_rights = theme_var('copyright_rights') %}
{% set social_enabled = theme_var('social_enabled') %}

{% block content %}{% endblock %}

{% block footer %}

<div id="footer-wrapper">
    
    <div id="footer" class="container">
            
            {% block header_footer %}
                {% include 'partials/footer/header_footer.html.twig' with {'title': contact_title , 'subtitle': contact_subtitle } %}
            {% endblock %}
  
            <div class="row">

                {% block contact %}
                    {% include 'partials/footer/contact.html.twig' %}
                {% endblock %}
         
                {% if social_enabled == true %}

                 <section class="col-6 col-12-narrower">
                    <div class="row gtr-0">
                        <ul class = "divided icons col-6 col-12-mobile">
                        {% for item in theme_config.social %}
                            <li class="icon brands fa-{{item.icon}}">
                                <a href="{{ item.url }}"> <span>{{item.name}}</span></a> 
                            </li>
                            {% if not loop.last and loop.index is same as((loop.length + 1) // 2) %}
                                </ul>
                                <ul class="divided icons col-6 col-12-mobile">
                            {% endif %}
                        {% endfor%}
                        </ul>
                    </div>
                </section>
                
                {% endif %}

            </div>
        
    </div>
    
    <div id="copyright" class="container">
        <ul class="menu">
            <li>{{copyright_rights|raw}}</li><li>{{copyright_author|raw}}</li>
        </ul>
    </div>
</div>

{% endblock %}
